
* {
    box-sizing: border-box;
}

.body {
    background-image: url('../img/img-bg.jpg');
    background-size: 100% 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
}
.header-inscr{
width: 100%;
text-align: center;
display: flex;
background-color: #000000ed;
color: white;
max-height: 10vh;

}
.header-inscr i{
    display: flex;
width: 7%;
}
.header-inscr i img{
    height: 100%;
}
.main-inscr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
height: 90%;
}
.container-inscr {
    display: flex;
    height: 80vh;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    height: 100%;
    margin: 2% 6% 2% 6%;
    justify-content: space-around;
}


.h5-inscr {
    margin: 0 0 3px;
    font-size: 2rem;
}

.form-inscr {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    justify-content: center;
    justify-content: space-evenly;
}

.form-control-inscr {
    padding-bottom: 20px;
    position: relative;
    height: 11%;
}

.form-control-inscr label {
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.form-control-inscr input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 4%;
    padding: 7%;
    font-size: 0.8rem;
    box-sizing: 2px 2px 10px rgba(0, 0, 0,0.3);
}

.form-control-inscr input:focus {
    outline: O;
    border-color: #777;
}

/* Le form-control-inscr qui a en meme temps la class success */

.form-control-inscr.success input {
    border-color: var(--success-color);
}


/* Le form-control-inscr qui a en meme temps la class error */

.form-control-inscr.error input {
    border-color: var(--error-color);
}

.form-control-inscr small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.7em;
}

.form-inscr .button {
    cursor: pointer;
    background-color: #51bfd0;
    border: 2px solid #51bfd0;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 11px;
    padding: 3%;
    margin-left: 90px;
    margin-top: 15px;
    width: 40%;
}

.element-inscr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element-inscr a {
    text-decoration: none;
    font-size: 12px;
    background-color: #51bfd0;
    color: white;
}

.element-inscr small {
    font-size: 1.7em;
}

.gray-inscr {
    font-size: 1rem;
    color: gray;
}

.avatar-inscr {
    display: flex;
    width: 20vw;
    height: 30vh;
    padding-top: 3%;
    border: 2px solid #39ddd6;
    border-radius: 50%
}

.avatar-inscr img{
    width: 98%;
    height: 99%;
    border-radius: 50%;
}


